<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.AttendanceDao">

    <insert id="insertAttendanceRecord" parameterType="AttendanceRecordPO"  >
        insert into attendance (staff_id, date)
        values (#{staffId}, #{date})
    </insert>

    <select id="findByDayAndStaff" resultMap="AttendanceRecordPO" parameterType="AttendanceRecordPO">
        select * from attendance
        where staff_id = #{staffId} and `date` = #{date}
    </select>


    <resultMap id="AttendanceRecordPO" type="com.nju.edu.erp.model.po.AttendanceRecordPO">
        <result column="staff_id" property="staffId"></result>
        <result column="date" property="date"></result>
    </resultMap>

</mapper>