<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.bankAccount.BankAccountDao">

    <insert id="addBankAccount">
        insert into bank_account (name, amount) values (#{name}, #{amount})
    </insert>

    <update id="updateBankAccount">
        update bank_account
        set name = #{newBankAccountName}
        where id = #{bankAccountId}
    </update>
    <update id="spendAtAccountId">
        update bank_account
        set amount = amount - #{actualSalary}
        where id = #{companyBankAccountId}
    </update>

    <delete id="deleteBankAccount">
        delete from bank_account
        where id = #{bankAccountId}
    </delete>

    <select id="findBankAccountByAmbiguousName"
            resultType="com.nju.edu.erp.model.po.bankAccount.BankAccountPO">
        select * from bank_account
        where name like #{ambiguousName}
    </select>

    <select id="getAmountByAccountId" resultType="java.math.BigDecimal">
        select amount from bank_account where id = #{companyBankAccountId}
    </select>

    <select id="findBankAccountById" resultType="com.nju.edu.erp.model.po.bankAccount.BankAccountPO">
        select * from bank_account where id = #{bankAccountId}
    </select>

    <select id="findAll" resultType="com.nju.edu.erp.model.po.bankAccount.BankAccountPO">
        select * from bank_account
    </select>
</mapper>