<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.BusinessHistoryDao">

    <select id="findAllSaleSheetByInterval" resultType="com.nju.edu.erp.model.po.SaleSheetPO">
        select *
        from sale_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
        and salesman = #{salesman} and supplier = #{customer}
    </select>
    <select id="findAllSaleReturnsSheetByInterval" resultType="com.nju.edu.erp.model.po.SaleReturnsSheetPO">
        select *
        from sale_returns_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
        and sale_sheet_id in (
            select id from sale_sheet
            where supplier = #{customer}
            and salesman = #{salesman}
            )
    </select>
    <select id="findAllPurchaseSheetByInterval" resultType="com.nju.edu.erp.model.po.PurchaseSheetPO">
        select *
        from purchase_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
    </select>
    <select id="findAllPurchaseReturnsSheetByInterval"
            resultType="com.nju.edu.erp.model.po.PurchaseReturnsSheetPO">
        select *
        from purchase_returns_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
    </select>
    <select id="findAllPayMoneySheetByInterval" resultType="com.nju.edu.erp.model.po.finance.PayMoneySheetPO">
        select *
        from pay_money_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
        and customer = #{customer}
    </select>
    <select id="findAllReceiveMoneySheetByInterval"
            resultType="com.nju.edu.erp.model.po.finance.ReceiveMoneySheetPO">
        select *
        from receive_money_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
        and customer = #{customer}

    </select>
    <select id="findAllSalarySheetByInterval" resultType="com.nju.edu.erp.model.po.finance.SalarySheetPO">
        select *
        from salary_sheet
        where TO_DAYS(create_time) between TO_DAYS(#{begin}) and TO_DAYS(#{end})
    </select>
</mapper>