<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.staff.PositionDao">
    <update id="updateOne">
        update position
        set title = #{title},
            base_salary = #{baseSalary},
            special_salary = #{specialSalary},
            `level` = #{level},
            salary_calculate_method = #{salaryCalculateMethod},
            salary_payment_method = #{salaryPaymentMethod},
            tax = #{tax}
        where title = #{title}
    </update>

    <select id="findOneByTitle" resultType="com.nju.edu.erp.model.po.staff.PositionInfoPO">
        select * from position
        where title = #{title}
    </select>
    <select id="findAll" resultType="com.nju.edu.erp.model.po.staff.PositionInfoPO">
        select * from position
    </select>


    <resultMap id="PositionInfoPO" type="com.nju.edu.erp.model.po.staff.PositionInfoPO">
        <result column="title" property="title"></result>
        <result column="base_salary" property="baseSalary"></result>
        <result column="special_salary" property="specialSalary"></result>
        <result column="level" property="level"></result>
        <result column="salary_calculate_method" property="salaryCalculateMethod"></result>
        <result column="salary_payment_method" property="salaryPaymentMethod"></result>
        <result column="tax" property="tax"></result>
    </resultMap>

</mapper>