<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.promotion.TotalPricePromotionDao">
    <insert id="save">
        insert into total_price_promotion (`id`, threshold, begin_time, end_time, operator, voucher_amount, remark)
        values (#{id}, #{threshold}, #{beginTime}, #{endTime}, #{operator}, #{voucherAmount}, #{remark})
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into total_price_promotion_content (`id`, total_price_promotion_id, pid, quantity, unit_price, total_price, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.totalPricePromotionId}, #{item.pid}, #{item.quantity}, #{item.unitPrice}, #{item.totalPrice}, #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from total_price_promotion where `id` = #{id};
    </delete>

    <delete id="deleteContentById">
        delete from total_price_promotion_content where total_price_promotion_id = #{id};
    </delete>

    <select id="getLatest" resultType="com.nju.edu.erp.model.po.promotion.TotalPricePromotionPO">
        select * from total_price_promotion order by `id` limit 0, 1
    </select>

    <select id="findAll" resultType="com.nju.edu.erp.model.po.promotion.TotalPricePromotionPO">
        select * from total_price_promotion
    </select>

    <select id="findById" resultType="com.nju.edu.erp.model.po.promotion.TotalPricePromotionPO">
        select * from total_price_promotion where `id` = #{id}
    </select>

    <select id="findContentByTotalPricePromotionId"
            resultType="com.nju.edu.erp.model.po.promotion.TotalPricePromotionContentPO">
        select * from total_price_promotion_content where total_price_promotion_id = #{id}
    </select>

    <select id="getVoucherAmountByDateAndThreshold"
            resultType="com.nju.edu.erp.model.po.promotion.TotalPricePromotionPO">
        select * from total_price_promotion
        where threshold &lt;= #{rawTotalAmount} and
              #{today} between begin_time and end_time
        order by voucher_amount desc
        limit 0, 1
    </select>
</mapper>